# Sample ENV FILE
# All Vars are Mandatory Except HNDLR

API_ID = 24496051
API_HASH = d057a0a866055c1d596c91c9db62ef06
BOT_TOKEN = 6281357058:AAFHCqcmp5ablVUCyDbSJGL0lZad9jYpf4I
ACCESS_TOKEN = 1374330829321740288-rleDzr4tFXL4UIc8yNKpJVp0rlhyEk
ACCESS_TOKEN_SECRET = OI0LtIT6WBxDfTagwMUa3SbvRKqCHqC0voGksLGb1W9uJ
CONSUMER_KEY = zCC0gw4HhqfV2C1ZtDbuqnx9q
CONSUMER_SECRET = Vt1UeI40D7Rcyr7HzEEnTYmO78MfuKxCbohxKZnnjvvJKggh5D
AUTHUSERS = AAAAAAAAAAAAAAAAAAAAAGNeoQEAAAAAfQ2axxQbBmhoWB2Qs1QRXi%2FssRY%3DyRvfxYCM2GY6jOlUCmUuHKFrhvYcgJScPlx6PaGahQcGgXwmAX
HNDLR = /
