# Sample ENV FILE
# All Vars are Mandatory Except HNDLR

API_ID = 
API_HASH = 
BOT_TOKEN = 
ACCESS_TOKEN = 1374330829321740288-rleDzr4tFXL4UIc8yNKpJVp0rlhyEk
ACCESS_TOKEN_SECRET = OI0LtIT6WBxDfTagwMUa3SbvRKqCHqC0voGksLGb1W9uJ
CONSUMER_KEY = zCC0gw4HhqfV2C1ZtDbuqnx9q
CONSUMER_SECRET = Vt1UeI40D7Rcyr7HzEEnTYmO78MfuKxCbohxKZnnjvvJKggh5D
AUTHUSERS = 
HNDLR = /
